@if(verPokemon){
<div id="granja">
    <mat-card class="pokemon" appearance="outlined">
        <mat-card-header>            
            <mat-card-subtitle>#{{verPokemon.id}}</mat-card-subtitle>
            <mat-card-title>{{verPokemon.name | capitalizar}}</mat-card-title>                        
        </mat-card-header>   
        <mat-card-content>
            @if(verPokemon.sprites.other.dream_world.front_default){
                <img [src]="verPokemon.sprites.other.dream_world.front_default" class="fixThumb">
            } @else {
                <img [src]="verPokemon.sprites.other.home.front_default" class="fixThumb">
            }
            <p>
                Tipo: <br />
                @for (tipo of verPokemon.types; track $index){
                    <span class="tipo">{{tipo.type.name | capitalizar}}</span>
                    &nbsp;
                }
            </p> 
            <p>
                Habilidades: <br />
                @for (habilidad of verPokemon.abilities; track $index){
                    <span class="habilidad">{{habilidad.ability.name | capitalizar}}</span>
                    &nbsp;
                }
            </p>
            <p>
                Altura: {{(verPokemon.height / 10) | number:'1.1-1'}} m | Peso: {{(verPokemon.weight / 10) | number:'1.1-1'}} kg
            </p>
            Evoluciones: <br />
            <div style="display: flex; justify-content: center;">
                <div style="text-align: center;">                
                    @for (pokemon of evoluciones; track $index){
                        <a href="/pokemon/{{pokemon.id}}/{{pokemon.offset}}/evolucion" title="{{pokemon.nombre | capitalizar}}"><img src="{{pokemon.imagen}}"></a>
                    }
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab extended (click)="playSound(verPokemon.cries.latest)">
                <mat-icon>volume_up</mat-icon>
                Sonido
            </button>            
        </mat-card-actions>
        @if (evolucion === 'evolucion') {
            <a href="#" (click)="goBack()" class="fixRegresar fixRegresarPk"><< Regresar al pokemon</a>
        } @else{
            <a href="/?offset={{offset}}" class="fixRegresar fixRegresarPk"><< Regresar al inicio</a>
        }
    </mat-card> 
</div>
}